main {
    margin-top: 5em;
    margin-bottom: 10em;
}

a:hover {
    border-bottom: none;
}

figure {
    margin: 0;
}

figcaption {
    opacity: 0.8;
}

p {
    margin-top: 0.25em!important;
    margin-bottom: 0.5em!important;
}

br {
    content: " ";
    display: block;
    margin: 2em;
}
